.navbar{
    position:sticky;
}
.navbar-first{
    background:rgb(1, 0, 21);
    width:100vw;
    height:5vh;
    
}
.navbar-firest-titles{
    color:#ffff;
    margin-left: 55%;
    height: 5vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}
.navbar-main{
    padding-top: 1vh;
    border: 5PX solid darkblue;
    width:100vw;
    display:flex;
}
.mnavtstart{
    width:55%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.nav-buttons{
    margin-left: 20%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-buttons button{
    padding:10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: medium;
}
.navbutton1{
    border:3px solid blue;
    color:blue;
}
.navbutton1:hover{
    background-color: lightblue;
}
.navbutton2{
    background:blue;
    color:#ffff;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}